{% extends 'base.html.twig' %}

{% block title %}Gérer les sites{% endblock %}

{% block body %}
    <h1>Gestion des sites</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td>{{ site.id }}</td>
                <td>{{ site.nom }}</td>
                <td>
                    <a href="{{ path('site_edit', {'id': site.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun site</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('site_new') }}">Nouveau site</a>
{% endblock %}
