{% extends 'base.html.twig' %}

{% block title %}Modifier la sortie{% endblock %}

{% block body %}
    <h1>Modifier la sortie</h1>

    {{ include('sortie/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
    <br />
    {{ include('sortie/_delete_form.html.twig') }}
{% endblock %}
