<!DOCTYPE html>
@import
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="'css/global.scss'">

        <title>{% block title %}Sortir.com{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <header>
        {% block header %}
        <div id="wrapper">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container">
                    <img height="40px" width="40px" src=""
                         class="float-left img-fluid mr-3" alt="Logo" />
                    <a class="navbar-brand" href="">Sortir.com</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav ml-auto">

                            <li class="nav-item active"><a class="nav-link"
                                                           href=""><i class="fas fa-sign-in-alt"></i> Connexion<span class="sr-only"></span>
                                </a></li>

                            <li class="nav-item active"><a class="nav-link"
                                                           href="">Inscription<span class="sr-only"></span>
                                </a></li>

                            <li class="nav-item active"><a class="nav-link"
                                                           href="">Mon profil <span class="sr-only"></span>
                                </a></li>

                            <li class="nav-item active"><a class="nav-link"
                                                           href="">Les sorties <span class="sr-only"></span>
                                </a></li>

                            <li class="nav-item active"><a class="nav-link"
                                                           href="">Administration<span class="sr-only"></span>
                                </a></li>

                            <li class="nav-item active"><a class="nav-link"
                                                           href="">Deconnexion <i class="fas fa-sign-out-alt"></i><span class="sr-only"></span>
                                </a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            </div>
        </div>
        <div class="container sticky-offset">
            {% endblock %}
    </header>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>

    <footer class="custom-foot bg-secondary">
        {% block footer %}
        <div class="container">
            <div class="text-center py-3 text-white">Copyright &copy; ENI Ecole 2019</div>
        </div>
        {% endblock %}
    </footer>
</html>
